<template name="campaignAdminCurrentItem">

		<div class="campaignCloseItemWrap">
			<div>
				<div class="campaignName">
					{{name}}
				</div>
				<div class="campaignStart">
					<span class="timeLable">Status:</span> {{ActiveText active}}
				</div>
				<div class="campaignStart">
					<span class="timeLable">Influencers:</span> 12
				</div>

		        <div class="editWrapper">
		            <a href="#"><div class="editCampaign"></div></a>
		        </div>
		        <div class="space20"></div>
	        	<div class="beginEndWrap">
					<div class="admin_campaignTiming">
						<span class="timeLable">Start:</span> {{Date startDay startMonth startYear}}
					</div>
					<div class="admin_campaignTiming">
						<span class="timeLable">End: </span>
					</div>
				</div>
			</div>
		</div>

</template>