<template name="socialItem">
    <div class="socialStatWrap">
        <div class="socialStat">
            {{ numberOfTweets}}
            <div class="socialStatLabel">
                TWEETS
            </div>
        </div>
        <div class="socialStat">
            {{ numberOfFollowing}}
            <div class="socialStatLabel">
                FOLLOWING
            </div>
        </div>
        <div class="socialStat thirtyfour">
            {{ numberOfFollowers}}
            <div class="socialStatLabel">
                FOLLOWERS
            </div>
        </div>
    </div>
    <div class="socialHeadWrap">
        <div class="formwrapper">
            <div class="iconTwitter"></div>
            <div class="clearme"></div>
            <div class="space25"></div>
            <div class="socialMediaAvatar">
                <img src=""/>
            </div>
        </div>
        <div class="socialUserWrap">
            <div>
                {{ userName }}
            </div>
            <div>
                {{ profileName }}
            </div>
        </div>
    </div>
    <div class="socialBodyWrap gradient30">
        <div class="formwrapper">   
            <div class="bttnAddSocial">
                <a href="#">Add Account
                    <div class="iconPlus"></div>
                </a>
            </div>
        </div>
    </div>
</template>