<template name="socialItem">
    <div class="socialMediaTypeIcon">
        <img src="" />
    </div>
    <div class="socialMediaAvatar">
        <img src=""/>
    </div>
    <div>
        {{ userName }}
    </div>
    <div>
        {{ profileName }}
    </div>
    <div>
        <div>
            {{ numberOfTweets}}
        </div>
        <div>
            TWEET
        </div>
    </div>
    <div>
        <div>
            {{ numberOfFollowing}}
        </div>
        <div>
            FOLLOWING
        </div>
    </div>
    <div>
        <div>
            {{ numberOfFollowers}}
        </div>
        <div>
            FOLLOWERS
        </div>
    </div>
</template>