<template name="social">
    <div>
        {{> profileMenu}}
    </div>
    <div>
        <div class="socialMediaTypeIcon">
            <img src="" />
        </div>
        <div class="socialMediaAvatar">
            <img src=""/>
        </div>
        <div>
            {{ userName }}
        </div>
        <div>
            {{ profileName }}
        </div>
        <div>
            {{ numberOfTweets}}
        </div>
        <div>
            {{ numberOfFollowing}}
        </div>
        <div>
            {{ numberOfFollowers}}
        </div>
    </div>
</template>