<template name="wallet">
    <form>
        <div>PayPal Email</div>
        <div><input name="payPalEmail" type="email" value="{{payPalEmail}}"></div>
        <div>Amount / Campaign</div>
        <div><input name="amountPerCampaign" type="number" value="{{amountPerCampaign}}"></div>
        <div><input type="submit" value="Save"></div>
    </form>
    <form>
        <div>Change Subscription</div>
        <div>Lorem ipsum</div>
        <div>
            <select name="subscriptionLevel">
                <option value="Standard">Standard</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
            </select>
        </div>
        <div><input type="submit" value="Save"></div>
    </form>
</template>