<template name="campaignInfluencerCompleteList">

    <div class="db_blueWrap">
        <div class="db_tabWrap2">
            Completed
        </div>
        <div class="clearme"></div>
    </div>
    <div class="clearme"></div>


    <div class="db_completeContentWrap">
        <div>
            {{#each campaigns}}
                {{> campaignInfluencerCompletedItem}}
            {{/each}}
        </div>
        <a href="#">
            <div class="bttnViewAllWrap">
                <div class="bttnViewAllBlu">VIEW All
                    <div class="bttnViewAllArrow"></div>
                </div>
            </div>
        </a>
        <div class="clearme"></div>
        <div class="space25"></div>
    </div>


</template>