<template name="campaignInfluencerCompletedItem">

<div class="campaignCloseItemWrap">
    <div class="ce_Wrap">
        <div class="campaignName">
            {{name}}
        </div>
        <div class="campaignEarnings">
            <span class="timeLable">Earned:</span> $150
        </div>
    </div>
    <div class="campaignEndWrap">
        <div class="campaignEndDay">
            {{endDay}}
        </div>
        <div class="campaignEndMonth">JUN
            {{MonthAbbreviation endMonth}}
        </div>
    </div>
    <div class="clearme"></div>
    <div class="space15"></div>
</div>

</template>