<template name="campaignInfluencerCompletedItem">

<div class="campaignCloseItemWrap">
    <div class="ce_Wrap">
        <div class="campaignName">
            {{name}}
        </div>
        <div class="campaignEarnings">
            Earned: $150
        </div>
    </div>
    <div class="campaignEndWrap">
        <div class="campaignEndDay">
            {{endDay}}
        </div>
        <div class="campaignEndMonth">JUN
            {{MonthAbbreviation endMonth}}
        </div>
    </div>

</div>

</template>