<template name="earningsSummary">
    <div class="db_earnWrapper">
            <div class="db_earnAmount thirtyfour">$14,250
                {{allTime}}
                <div class="earnLabel">
                    earned all time
                </div>
            </div>
            <div class="db_earnAmount">$645
                {{past30days}}
                <div class="earnLabel">
                    past 30 days
                </div>
            </div>
            <div class="db_earnAmount">$120
                {{past7days}}
                <div class="earnLabel">
                    past 7 days
                </div>
            </div>
    </div>
</template>