<template name="register">
    <div class="formwrapper">
        <h1>Account Creation</h1>
        <div class="lblRequired">
            *indicates required
        </div>
    </div>
    <div class="clearme"></div>
    <form>
        <div class="formwrapper whiteBack">
            <div>
                <input name="firstName" type="text" placeholder="First Name*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="lastName" type="text" placeholder="Last Name*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="dob" type="date" placeholder="DOB*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="email" type="email" placeholder="Email*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="payPalEmail" type="email" placeholder="PayPal Email*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="address1" type="text" placeholder="Address*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="address2" type="text" placeholder="Address 2" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="country" type="text" placeholder="Country*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="state" type="text" placeholder="State*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="zip" type="text" placeholder="Zip*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <div>
                    <select class="ddlInput">
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="password" type="password" placeholder="Password*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <input name="confirmPassword" type="password" placeholder="Confirm Password*" class="txtInput" />
            </div>
            <div class="fieldSeperator"></div>
            <div>
                <div>
                    <select class="ddlInput">
                        <option value="email">Preferred Contact*</option>
                        <option value="email">Email</option>
                        <option value="text">Text</option>
                    </select>
                </div>
            </div>
            <div class="fieldSeperator"></div>
            <div class="checkboxWrapper">
                <input type="checkbox" value="agree" />Yes, I have read and agree to the terms and conditions and privacy policy
            </div>
            <div class="fieldSeperator"></div>
        </div>
        <div class="bg_createacct">
            <div class="formwrapper">
                <input type="submit" value="Create Account" class="bttnRegister" />
                <div class="bttnArrow"></div>
            </div>
        </div>
        <div class="clearme"></div>
    </form>
</template>